:root{
    --color-primaria: #ffffff;
    --color-secundaria: #006eff;
    --color-text: #000000;
}

#simulado-1v1{
    background: var(--color-primaria);
    align-items: center;
    margin: 6rem 10px;
    border-radius: 12px;
    padding: 10px;
    font-size: 1.5rem;
}
#join-room{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#join-room-button{
    padding: 0.4rem;
    margin: 0.4rem;
}
#room-code-input{
    font-size: 1.4rem;
    text-align: center;
    margin: 10px;
}
#generate-room-code{
    padding: 0.4rem;
    margin: 10px;
}