:root {
    font-size: 16px;
    --royal-blue-light: #404eed;
    --royal-blue-dark: #3946d4;
    --white: #fff;
    --backgroud: #e2e3e9;
  }
main {
  background: #1d1d2e;
  border-radius: 10px;
  color: white;
  font-size: large;
  padding: 20px;
  margin: 20px;
}

.tip-category h4 {
  text-align: center;
    font-size: x-large;
}

.tip-category {
  font-size: 17px;
}

main p {
    margin-top: 10px;
}

main li {
    margin: 10px;
}

main ul {
    margin: 20px;
}

/* Animação de seleção para os links do menu */
.menu li a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  transition: color 0.3s ease;
}

.menu li a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.menu li a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.menu li a:hover {
  color: white; /* cor desejada ao passar o mouse */
}