:root {
    font-size: 16px;
    --royal-blue-light: #404eed;
    --royal-blue-dark: #3946d4;
    --white: #fff;
    --backgroud: #e2e3e9;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  a {
    color: var(--white);
    text-decoration: none;
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--royal-blue-light);
    height: 4.6875rem;
    padding: 1rem;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .menu {
    list-style: none;
    display: flex;
    gap: 0.5rem;
  }
  
  .menu a {
    display: block;
    padding: 1rem;
    border-radius: 0.5rem;
  }
  
  .menu a:hover {
    background: var(--royal-blue-dark);
  }
  
  .btn-menu {
    display: none;
  }
  
  @media (max-width: 1000px) {
    header .logo {
      font-size: 18px;
      color: #fff;
  }
    .menu {
      display: block;
      position: absolute;
      top: 6.3333rem;
      left: 0;
      background: var(--royal-blue-light);
      text-align: center;
      width: 100%;
      height: 0;
      z-index: 1;
      visibility: hidden;
      overflow-y: hidden;
      transition: 0.5s;
    }
    button {
      background: none;
      border: none;
      font: inherit;
      color: #fff;
    }
    .menu a {
      padding: 1rem 0;
      margin-inline: 1rem;
      border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.16);
      border-radius: 0;
    }
    .btn-menu {
      background: none;
      border: none;
      font: inherit;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      color: var(--white);
      padding: 1rem 0;
      cursor: pointer;
    }
    .hamburger {
      border-top: 0.125rem solid;
      width: 1.25rem;
    }
    .hamburger::after,
    .hamburger::before {
      content: " ";
      display: block;
      width: 1.25rem;
      height: 0.125rem;
      background: currentColor;
      margin-top: 0.3125rem;
      position: relative;
      transition: 0.3s;
    }
    .nav.active .menu {
      height: calc(46vh - 4.6875rem);
      visibility: visible;
      overflow-y: auto;
    }
    .nav.active .hamburger {
      border-top-color: transparent;
    }
    .nav.active .hamburger::before {
      transform: rotate(135deg);
    }
    .nav.active .hamburger::after {
      transform: rotate(-135deg);
      top: -0.4375rem;
    }
    
  }

  /* Caixa de Diálogo */
button {
  background: none;
  border: none;
  font: inherit;
  color: #fff;
  padding: 0px;
  cursor: pointer;
}

.dialog-overlay {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
  overflow: auto;
  padding-top: 100px; /* Centraliza verticalmente */
}

.dialog-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Largura da caixa de diálogo */
  max-width: 600px; /* Largura máxima */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.dialog-content .close {
  color: #3b2af3;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.dialog-content .close:hover,
.dialog-content .close:focus {
  color: rgb(255, 0, 0);
  text-decoration: none;
  cursor: pointer;
}

.dialog-content h2 {
  margin-top: 0;
}

.dialog-content p {
  margin: 10px 0;
}



/* Fonte Padrão */
main {
  background: #1d1d2e;
  border-radius: 10px;
  color: white;
  font-size: large;
  padding: 20px;
  position: relative;
  top: 20px;
}

.tip-category h4 {
  text-align: center;
    font-size: x-large;
}

@media (max-width: 1000px) {
    main {
        width: 100%;
    }
}

main p {
    margin-top: 20px;
}

main li {
    margin: 10px;
}

main ul {
    margin: 20px;
}

/* Animação de seleção para os links do menu */
.menu li a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  transition: color 0.3s ease;
}

.menu li a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.menu li a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.menu li a:hover {
  color: white; /* cor desejada ao passar o mouse */
}