main {
    background: #1d1d2e;
    border-radius: 10px;
    color: white;
    font-size: large;
    padding: 20px;
}

@media (max-width: 900px) {
    main {
        width: 100%;
    }
}
video {
    max-width: 100%; /* Garante que o vídeo não ultrapasse o container */
    height: auto; /* Mantém a proporção do vídeo */
    display: block; /* Remove espaços em branco ao redor do vídeo */
}

.text-intro {
    margin-top: 25px; /* Ajuste o valor conforme necessário */
}