main {
    background: #1d1d2e;
    border-radius: 10px;
    color: white;
    font-size: large;
    padding: 20px;
}

@media (max-width: 900px) {
    main {
        width: 100%;
    }
}
