/* styles.css */
.manutencao {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 700px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    margin-top: 150px;
}

#avisos-manutencao {
    margin-top: 20px;
    width: 100%;
}

.aviso {
    padding: 10px;
    background-color: #f1f1f1;
    margin-bottom: 10px;
    border-left: 6px solid #007BFF; /* Cor da borda do aviso */
    border-radius: 4px;
    word-break: break-word; /* Ajusta a quebra de palavras para evitar estouro do layout */
    text-align: left; /* Alinha o texto à esquerda */
}

.aviso h3 {
    margin-top: 0;
    font-size: 18px;
}

.aviso p {
    margin-bottom: 0;
    font-size: 14px;
    color: #333;
    white-space: pre-wrap; /* Mantém quebras de linha e espaços */
}