:root {
  font-size: 16px;
  --royal-blue-light: #404eed;
  --royal-blue-dark: #3946d4;
  --white: #fff;
  --background: #e2e3e9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  background: url(background.png) center;
  background-size: cover;
  background-attachment: fixed;
  clear: both;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-repeat: no-repeat;
}

a {
  color: var(--white);
  text-decoration: none;
}

/* Cabeçalho */
header {
  width: 100%;
  padding: 22px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(55, 55, 55);
}

header .logo {
font-size: 24px;
color: #fff;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.menu {
list-style: none;
display: flex;
gap: 0.5rem;
}

.menu a {
  display: block;
  padding: 1rem;
  border-radius: 0.5rem;
}

.menu li a {
text-decoration: none;
color: #fff;
font-weight: 500;
transition: color 0.3s ease;
}

.menu li {
margin-left: 20px;
}

.menu a:hover {
  background: var(--royal-blue-dark);
}

.btn-menu {
  display: none;
}

@media (max-width: 1000px) {
  header .logo {
    font-size: 18px;
    color: #fff;
}
  .menu {
      display: block;
      position: absolute;
      top: 5.9999rem;
      left: 0;
      background: var(--royal-blue-light);
      text-align: center;
      width: 100%;
      height: 0;
      z-index: 1;
      visibility: hidden;
      overflow-y: hidden;
      transition: 0.5s;
  }

  .menu a {
      padding: 1rem 0;
      margin-inline: 1rem;
      border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.16);
      border-radius: 0;
  }

  .btn-menu {
      background: none;
      border: none;
      font: inherit;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      color: var(--white);
      padding: 1rem 0;
      cursor: pointer;
  }

  .hamburger {
      border-top: 0.125rem solid;
      width: 1.25rem;
  }

  .hamburger::after,
  .hamburger::before {
      content: " ";
      display: block;
      width: 1.25rem;
      height: 0.125rem;
      background: currentColor;
      margin-top: 0.3125rem;
      position: relative;
      transition: 0.3s;
  }

  .nav.active .menu {
    height: calc(46vh - 4.6875rem);
    visibility: visible;
    overflow-y: auto;
  }

  .nav.active .hamburger {
      border-top-color: transparent;
  }

  .nav.active .hamburger::before {
      transform: rotate(135deg);
  }

  .nav.active .hamburger::after {
      transform: rotate(-135deg);
      top: -0.4375rem;
  }
}

/* Animação de seleção para os links do menu */
.menu li a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  transition: color 0.3s ease;
}

.menu li a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.menu li a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.menu li a:hover {
  color: white; /* cor desejada ao passar o mouse */
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: var(--white);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 100%;
  width: 100%;
  font-size: 13px;
  border-radius: 10px;
  margin: 102px 0px 102px;
}
.container h1 {
  font-size: 2.5rem; /* Tamanho da fonte do título */
  margin-bottom: 1rem; /* Margem inferior do título */
}

.container p {
  font-size: 1.25rem; /* Tamanho da fonte do texto */
  line-height: 1.5; /* Altura da linha */
  margin-bottom: 1.5rem; /* Margem inferior do texto */
}

.container button {
  background-color: var(--royal-blue-light);
  color: var(--white);
  border: none;
  padding: 1rem 2rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 12px;
}

.container button:hover {
  background-color: var(--royal-blue-dark);
}

#timer {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

#answers {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
gap: 1rem;
margin-top: 1rem;
}

/* Estilos para os botões de resposta */
#answers button {
background-color: var(--royal-blue-light);
color: var(--white);
border: none;
padding: 1rem;
font-size: 1rem;
border-radius: 0.5rem;
cursor: pointer;
transition: background-color 0.3s ease;
}

#answers button:hover {
background-color: black;
}

#answers button.selected {
background-color: green;
color: #ffffff;
}

.hidden {
  display: none;
}

#question {
  text-align: justify;
  text-align-last: center;
  white-space: pre-wrap;
}
#review-answers{
text-align: justify;
}

/* Rodapé */
footer {
  background-color: rgba(51, 51, 51, 0.8);
  padding: 2rem;
  text-align: center;
  clear: both;
}

footer .footer-content {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  align-items: center;
}

footer .footer-content .links a,
footer .footer-content .social a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.3s ease;
}

footer .footer-content .social a {
  font-size: 2rem;
}

footer .footer-content .social a:hover {
  color: #1976d2;
}

footer p {
  margin-top: 15px;
  color: white;
}
@media (max-width: 900px) {
  footer .footer-content .social {
      display: flex;
      margin-top: 15px;
  }

  footer .footer-content .links a,
  footer .footer-content .social a {
      color: white;
      text-decoration: none;
      margin: 0 10px;
      transition: color 0.3s ease;
  }
}