main {
    padding: 20px;
    box-shadow: 2px 1px 10px 5px #00000061;
    display: flex;
    text-align: left;
    flex-wrap: wrap;
    width: 100vw;
    overflow: hidden;
    justify-content: center;
    margin-top: 100px;
}

div.cursos {
    width: 255px;
    height: 395px;
    background-color: rgb(55, 55, 55);
    margin: 20px;
    border: 1px solid var(--azulescuto);
    border-radius: 20px;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.247);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.imagens-curso {
    background-color: white;
    border-radius: 50px;
    height: 260px;
    width: 245px;
    margin-top: 25px;
}
@media (max-width: 1000px) {
    html body main {
        display: flex;
        justify-content: center;
        width: 100vw;
    }
}

/* Animação de seleção para os links dentro das divs .cursos */
.cursos h1 a{
    position: relative;
    display: inline-block;
    text-decoration: none;
    transition: color 0.3s ease;
}

.cursos h1 a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.cursos a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.cursos a:hover {
    color: #007BFF; /* cor desejada ao passar o mouse */
}

/* Estilos para imagens dentro das divs .cursos */
.cursos img {
    transition: transform 0.3s ease;
}

.cursos a:hover img {
    transform: scale(1.1); /* Zoom na imagem ao passar o mouse */
}