/* Estilo principal */
main {
    background-color: white;
    max-width: 100%;
    margin: 22px 0px 22px;
    border-radius: 0px 40px 0px 40px;
    animation: rgbBorder 20s infinite;
}

/* Animação das bordas */
@keyframes rgbBorder {
    0% {
        box-shadow: 0 0 12px 8px rgba(255, 0, 0, 0.75); /* Vermelho */
    }
    10% {
        box-shadow: 0 0 12px 8px rgba(255, 165, 0, 0.75); /* Laranja */
    }
    20% {
        box-shadow: 0 0 12px 8px rgba(255, 255, 0, 0.75); /* Amarelo */
    }
    30% {
        box-shadow: 0 0 12px 8px rgba(0, 255, 0, 0.75); /* Verde */
    }
    40% {
        box-shadow: 0 0 12px 8px rgba(0, 255, 255, 0.75); /* Ciano */
    }
    50% {
        box-shadow: 0 0 12px 8px rgba(0, 0, 255, 0.75); /* Azul */
    }
    60% {
        box-shadow: 0 0 12px 8px rgba(255, 0, 255, 0.75); /* Magenta */
    }
    70% {
        box-shadow: 0 0 12px 8px rgba(128, 0, 128, 0.75); /* Roxo */
    }
    80% {
        box-shadow: 0 0 12px 8px rgba(255, 105, 180, 0.75); /* Rosa */
    }
    90% {
        box-shadow: 0 0 12px 8px rgba(128, 128, 128, 0.75); /* Cinza */
    }
    100% {
        box-shadow: 0 0 12px 8px rgba(255, 0, 0, 0.75); /* Vermelho */
    }
}


.ranking-container h1 {
    text-align: center;
    margin-bottom: 20px;
}
.h2 {
    text-align: center;
}
.ranking-selector {
    display: block;
    margin: 20px auto;
    padding: 10px;
    font-size: 18px;
    border-radius: 30px;
}

/* Estilo da tabela */
.ranking-table {
    width: 100%;
    margin-bottom: 20px;
}

.ranking-table th,
.ranking-table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.ranking-table th {
    background-color: #007bff;
    color: #fff;
}

.user-row {
    background-color: #f9f9f9;
}

/* Estilo do gametag-container */
.gametag-container {
    display: flex;
    align-items: center;
    justify-content: center; /* Alinha o conteúdo horizontalmente no centro */
}

.user-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px; /* Espaço entre a foto e a gameTag */
}

/* Estilo do auth-message */
#auth-message {
    text-align: center;
    margin-top: 20px;
}

/* Responsividade */
@media (max-width: 768px) {
    .ranking-table th,
    .ranking-table td {
        padding: revert-layer;
    }

    .ranking-table {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .ranking-table {
        font-size: 11px;
        max-width: 100%;
    }

    .ranking-table th,
    .ranking-table td {
        padding: revert-layer;
    }

    .user-photo {
        width: 40px;
        height: 40px;
    }

}
@media (max-width: 390px) {
    .ranking-table {
        font-size: 10px;
        max-width: 100%;
    }

    .ranking-table th,
    .ranking-table td {
        padding: revert-layer;
    }

    .user-photo {
        width: 30px;
        height: 30px;
    }

}

.countdown-container {
    text-align: center;
    margin-bottom: 20px;
}

#countdown {
    font-size: 2em;
    font-weight: bold;
    color: #333;
}
