/* Estilo principal */
main {
    background-color: white;
    padding: 20px;
}

.ranking-container {
    max-width: 1200px;
    margin: 0 auto;
}

.ranking-container h1 {
    text-align: center;
    margin-bottom: 20px;
}
.h2 {
    text-align: center;
}
.ranking-selector {
    display: block;
    margin: 20px auto;
    padding: 10px;
    font-size: 16px;
}

/* Estilo da tabela */
.ranking-table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.ranking-table th,
.ranking-table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

.ranking-table th {
    background-color: #007bff;
    color: #fff;
}

.user-row {
    background-color: #f9f9f9;
}

/* Estilo do gametag-container */
.gametag-container {
    display: flex;
    align-items: center;
    justify-content: center; /* Alinha o conteúdo horizontalmente no centro */
}

.user-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px; /* Espaço entre a foto e a gameTag */
}

/* Estilo do auth-message */
#auth-message {
    text-align: center;
    margin-top: 20px;
}

/* Responsividade */
@media (max-width: 768px) {
    .ranking-table th,
    .ranking-table td {
        padding: 8px;
    }

    .ranking-table {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .ranking-table {
        font-size: 12px;
    }

    .ranking-table th,
    .ranking-table td {
        padding: 6px;
    }

    .user-photo {
        width: 40px;
        height: 40px;
    }

    .ranking-container {
        padding: 10px;
    }
}

.countdown-container {
    text-align: center;
    margin-bottom: 20px;
}

#countdown {
    font-size: 2em;
    font-weight: bold;
    color: #333;
}
