
/* Rodapé */
footer {
    background-color: rgba(51, 51, 51, 0.8); /* Utiliza uma cor de fundo semi-transparente */
    padding: 2rem;
    text-align: center;
    margin-top: -96px;
    position: relative; /* Garante posicionamento relativo */
    z-index: 1; /* Define um z-index maior se necessário */
    clear: both;
}

footer .footer-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    align-items: center;
}

footer .footer-content .links a,
footer .footer-content .social a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease;
}

footer .footer-content .social a {
    font-size: 2rem;
}

footer .footer-content .social a:hover {
    color: #1976d2; /* Altere para a cor desejada */
}

footer p {
    margin-top: 15px;
    color: white;
}

@media (max-width: 900px) {
    footer .footer-content .social {
        display: flex;
        margin-top: 15px;
    }

    footer .footer-content .links a,
    footer .footer-content .social a {
        color: white;
        text-decoration: none;
        margin: 0 10px;
        transition: color 0.3s ease;
    }
}