main {
    padding: 1rem; /* Espaçamento interno */
    min-height: calc(100vh - 4.6875rem); /* Altura mínima para ocupar a tela inteira menos o cabeçalho */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    background-color: var(--white); /* Cor de fundo dos containers */
    padding: 0.5rem; /* Espaçamento interno */
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); /* Sombra */
    margin-bottom: 2rem; /* Margem inferior */
    text-align: center; /* Alinhamento central do conteúdo */
    max-width: 100%; /* Largura máxima do conteúdo */
    width: 100%; /* Largura total */
    position: relative;
    top: 100px;
  }
  .container h1 {
    font-size: 2.5rem; /* Tamanho da fonte do título */
    margin-bottom: 1rem; /* Margem inferior do título */
  }
  
  .container p {
    font-size: 1.25rem; /* Tamanho da fonte do texto */
    line-height: 1.5; /* Altura da linha */
    margin-bottom: 1.5rem; /* Margem inferior do texto */
  }
  
  .container button {
    background-color: var(--royal-blue-light); /* Cor de fundo do botão */
    color: var(--white); /* Cor do texto do botão */
    border: none; /* Sem borda */
    padding: 1rem 2rem; /* Espaçamento interno do botão */
    font-size: 1rem; /* Tamanho da fonte do botão */
    border-radius: 0.5rem; /* Borda arredondada */
    cursor: pointer; /* Cursor ao passar por cima */
    transition: background-color 0.3s ease; /* Transição suave */
    margin: 12px;
  }
  
  .container button:hover {
    background-color: var(--royal-blue-dark); /* Cor de fundo do botão ao passar por cima */
  }
  
  #timer {
    font-size: 1.5rem; /* Tamanho da fonte do timer */
    margin-bottom: 1rem; /* Margem inferior do timer */
  }
  
  /* Estilos para o contêiner das respostas */
#answers {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  margin-top: 1rem; /* Margem superior das respostas */
}

/* Estilos para os botões de resposta */
#answers button {
  background-color: var(--royal-blue-light); /* Cor de fundo dos botões de resposta */
  color: var(--white); /* Cor do texto dos botões de resposta */
  border: none; /* Sem borda */
  padding: 1rem; /* Espaçamento interno dos botões de resposta */
  font-size: 1rem; /* Tamanho da fonte dos botões de resposta */
  border-radius: 0.5rem; /* Borda arredondada */
  cursor: pointer; /* Cursor ao passar por cima */
  transition: background-color 0.3s ease; /* Transição suave */
}

/* Estilo de hover para os botões de resposta */
#answers button:hover {
  background-color: black; /* Cor de fundo dos botões de resposta ao passar por cima */
}

#answers button.selected {
  background-color: green; /* Cor de fundo da resposta selecionada */
  color: #ffffff; /* Cor do texto da resposta selecionada */
}

.hidden {
    display: none; /* Elemento escondido */
  }
  