main {
    padding: 1rem; /* Espaçamento interno */
    min-height: calc(100vh - 4.6875rem); /* Altura mínima para ocupar a tela inteira menos o cabeçalho */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container {
    background-color: var(--white); /* Cor de fundo dos containers */
    padding: 0.5rem; /* Espaçamento interno */
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); /* Sombra */
    margin-bottom: 2rem; /* Margem inferior */
    text-align: center; /* Alinhamento central do conteúdo */
    max-width: 100%; /* Largura máxima do conteúdo */
    width: 100%; /* Largura total */
    position: relative;
    top: 100px;
    font-size: 13px;
  }
  .container h1 {
    font-size: 2.5rem; /* Tamanho da fonte do título */
    margin-bottom: 1rem; /* Margem inferior do título */
  }
  
  .container p {
    font-size: 1.25rem; /* Tamanho da fonte do texto */
    line-height: 1.5; /* Altura da linha */
    margin-bottom: 1.5rem; /* Margem inferior do texto */
  }
  
  .container button {
    background-color: var(--royal-blue-light);
    color: var(--white);
    border: none;
    padding: 1rem 2rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 12px;
  }
  
  .container button:hover {
    background-color: var(--royal-blue-dark);
  }
  
  #timer {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
  
#answers {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  margin-top: 1rem;
}

/* Estilos para os botões de resposta */
#answers button {
  background-color: var(--royal-blue-light);
  color: var(--white);
  border: none;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#answers button:hover {
  background-color: black;
}

#answers button.selected {
  background-color: green;
  color: #ffffff;
}

.hidden {
    display: none;
  }
  
  #question {
    text-align: justify;
    text-align-last: center;
    white-space: pre-wrap;
}
#review-answers{
  text-align: justify;
}