:root {
    font-size: 16px;
    --royal-blue-light: #404eed;
    --royal-blue-dark: #3946d4;
    --white: #fff;
    --background: #e2e3e9;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
/* Fonte Padrão */
body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    overflow-x: hidden;
    background-color: black;

}

/* Seção Principal */
section {
background-image: url("background.png");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
background-attachment: fixed;
display: flex;
flex-direction: column;
}

/* Cabeçalho */
header {
    width: 100%;
    padding: 22px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(55, 55, 55);
}

header .logo {
    font-size: 24px;
    color: #fff;
}

.menu {
    list-style: none;
    display: flex;
}

.menu li {
    margin-left: 20px;
}

.menu li a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    transition: color 0.3s ease;
}

.menu li a:hover {
    color: #cfd8dc;
}

/* Conteúdo Principal */
.content {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin-left: 50px;
}

.content .text{
  margin: 150px 0px 20px;
}

.content .text h2 {
    color: #fff;
    font-size: 2.5em;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 10px;
}

.content .text h2 span {
    color: rgb(71, 135, 232);
}

.content .text p {
    color: #fff;
}

.content .text a {
    display: inline-block;
    margin-top: 35px;
    padding: 10px 25px;
    background: red;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    border-radius: 40px;
    transition: 0.3s ease-in-out;
}

.content .text a:hover {
    transform: translateY(-5px);
    background-color: #b71c1c;
}

/* Ícones */
.icons {
    display: flex;
    margin: 5rem 60px 12rem;
}

.icons li {
    list-style: none;
    margin-left: 20px;
}

.icons li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: #222;
    border-radius: 50%;
    transition: background 0.3s ease;
}

.icons li a:hover {
    background: #1976d2; /* Altere para a cor desejada */
}

.icons li a img {
    filter: invert(1);
    transform: scale(0.5);
}

/*mobile menu*/
  a {
    color: var(--white);
    text-decoration: none;
  }
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .menu {
  list-style: none;
  display: flex;
  gap: 0.5rem;
  }
  
  .menu a {
    display: block;
    padding: 1rem;
    border-radius: 0.5rem;
  }
  
  .menu li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  transition: color 0.3s ease;
  }
  
  .menu li {
  margin-left: 20px;
  }
  
  .menu a:hover {
    background: var(--royal-blue-dark);
  }
  
  .btn-menu {
    display: none;
  }
  
  @media (max-width: 900px) {
    header .logo {
      font-size: 18px;
      color: #fff;
  }
  .content .text{
    margin: 10rem 8px 22px;
  }
    .menu {
        display: block;
        position: absolute;
        top: 5.9999rem;
        left: 0;
        background: var(--royal-blue-light);
        text-align: center;
        width: 100%;
        height: 0;
        z-index: 1;
        visibility: hidden;
        overflow-y: hidden;
        transition: 0.5s;
    }
  
    .menu a {
        padding: 1rem 0;
        margin-inline: 1rem;
        border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.16);
        border-radius: 0;
    }
  
    .btn-menu {
        background: none;
        border: none;
        font: inherit;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: var(--white);
        padding: 1rem 0;
        cursor: pointer;
    }
  
    .hamburger {
        border-top: 0.125rem solid;
        width: 1.25rem;
    }
  
    .hamburger::after,
    .hamburger::before {
        content: " ";
        display: block;
        width: 1.25rem;
        height: 0.125rem;
        background: currentColor;
        margin-top: 0.3125rem;
        position: relative;
        transition: 0.3s;
    }
  
    .nav.active .menu {
        height: calc(46vh - 4.6875rem);
        visibility: visible;
        overflow-y: auto;
        border-radius: 70px 0px 70px 70px;
    }
  
    .nav.active .hamburger {
        border-top-color: transparent;
    }
  
    .nav.active .hamburger::before {
        transform: rotate(135deg);
    }
  
    .nav.active .hamburger::after {
        transform: rotate(-135deg);
        top: -0.4375rem;
    }
  }
  
  /* Animação de seleção para os links do menu */
  .menu li a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .menu li a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .menu li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  .menu li a:hover {
    color: white; /* cor desejada ao passar o mouse */
  }