/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Custom Properties for Colors */
:root {
    --primary-color: rgb(71, 135, 232);
    --secondary-color: #cfd8dc;
    --bg-color: rgb(55, 55, 55);
    --footer-bg-color: #333;
    --footer-hover-color: #1976d2;
    --text-color: #fff;
    --highlight-color: red;
    --hover-highlight-color: #b71c1c;
    --icon-bg-color: #222;
}

/* Font Loading */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* Fonte Padrão */
body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    overflow-x: hidden;
}

/* Seção Principal */
section {
    background-image: url(background.png);
    background-position: center fixed;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    padding: 20px;
    padding-top: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; /* Importante para o posicionamento do cabeçalho */
}

/* Cabeçalho */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 22px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-color);
    z-index: 1000; /* Garante que o cabeçalho esteja sobreposto a outros elementos */
}

header .logo {
    font-size: 24px;
    color: var(--text-color);
}

.menu {
    list-style: none;
    display: flex;
}

.menu li {
    margin-left: 20px;
}

.menu li a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
    transition: color 0.3s ease;
}

.menu li a:hover {
    color: var(--secondary-color);
}

/* Conteúdo Principal */
.content {
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

.content .text h2 {
    color: var(--text-color);
    font-size: 2.5em;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 10px;
}

.content .text h2 span {
    color: var(--primary-color);
}

.content .text p {
    color: var(--text-color);
}

.content .text a {
    display: inline-block;
    margin-top: 35px;
    padding: 10px 25px;
    background: var(--highlight-color);
    color: var(--text-color);
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    border-radius: 40px;
    transition: 0.3s ease-in-out;
}

.content .text a:hover {
    transform: translateY(-5px);
    background-color: var(--hover-highlight-color);
}

/* Ícones */
.icons {
    position: absolute;
    bottom: 40px;
    left: 50px;
    display: flex;
}

.icons li {
    list-style: none;
    margin-left: 20px;
}

.icons li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: var(--icon-bg-color);
    border-radius: 50%;
    transition: background 0.3s ease;
}

.icons li a:hover {
    background: var(--footer-hover-color);
}

.icons li a img {
    filter: invert(1);
    transform: scale(0.5);
}

@media (max-width: 900px) {
    section {
        padding-top: 120px;
    }

    .icons {
        bottom: 20px;
        left: 20px;
    }
}

/* Rodapé */
footer {
    background-color: var(--footer-bg-color);
    color: var(--text-color);
    padding: 2rem;
    text-align: center;
}

footer .footer-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    align-items: center;
}

footer .footer-content .links a,
footer .footer-content .social a {
    color: var(--text-color);
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease;
}

footer .footer-content .social a {
    font-size: 2rem;
}

footer .footer-content .social a:hover {
    color: var(--footer-hover-color);
}

footer p {
    margin-top: 10px;
}

@media (max-width: 900px) {
    footer .footer-content .social {
        display: flex;
        margin-top: 15px;
    }
    footer .footer-content .links a,
    footer .footer-content .social a {
        color: var(--text-color);
        display: grid;
        text-decoration: none;
        margin: 0 10px;
        transition: color 0.3s ease;
    }
}