/* Estilo base para o quadro das atualizações */
.update {
    background: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden; /* Adiciona overflow hidden para o efeito de dobra */
}

h1 {
    text-align: center;
    color: white;
}
/* Adiciona um efeito de dobra de folha */
.update::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background: #f5f5f5;
    border-bottom: 2px solid #dddddd;
    border-left: 2px solid #dddddd;
    transform: rotate(45deg);
    transform-origin: top right;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1; /* Garante que o efeito de dobra fique visível acima do conteúdo */
}

/* Ajusta o conteúdo do título */
.update h2 {
    margin: 0 0 10px;
    font-size: 1.5em;
    color: #333;
}

/* Ajusta a descrição da atualização */
.update p {
    font-size: 1em;
    color: #666;
}

/* Padding do main para evitar sobreposição com o header */
main.content {
    padding-top: 150px; /* Ajuste conforme a altura do seu header */
}

a {
    color: black;
}

/* Responsividade */
@media (max-width: 768px) {
    .update {
        padding: 15px;
    }

    .update h2 {
        font-size: 1.25em;
    }

    .update p {
        font-size: 0.9em;
    }
}
